<div class="container-fluid bg-light">
  <div class="container bg-light" style="margin-top: 50px">
    <div class="row mt-4" style="height: 550px">
      <div class="col"></div>
      <div
        class="col-md-6 bg-white fm shadow needs-validation"
        style="border-radius: 10px"
        novalidate
      >
        <div class="card bg-warning mt-4">
          <h4 class="text-black pt-2" style="text-align: center">
            Registration Form
          </h4>
        </div>
        <form
          name="form"
          #f="ngForm"
          (ngSubmit)="f.form.valid && onSubmit()"
          novalidate
          [appMatchPassword]="['password', 'confirmPassword']"
        >
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="fullname"
              [(ngModel)]="form.fullname"
              placeholder="FullName"
              required
              #fullname="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && fullname.errors }"
            />
            <div
              *ngIf="f.submitted && fullname.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fullname.errors['required']">
                Fullname is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              required
              placeholder="username"
              minlength="6"
              maxlength="20"
              #username="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
            />
            <div
              *ngIf="f.submitted && username.errors"
              class="invalid-feedback"
            >
              <div *ngIf="username.errors['required']">
                Username is required
              </div>
              <div *ngIf="username.errors['minlength']">
                Username must be at least 6 characters
              </div>
              <div *ngIf="username.errors['maxlength']">
                Username must be at most 20 characters
              </div>
            </div>
          </div>

          <div class="form-group">
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="form.email"
              placeholder="Email"
              required
              email
              #email="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
            />
            <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
              <div *ngIf="email.errors['required']">Email is required</div>
              <div *ngIf="email.errors['email']">Email is invalid</div>
            </div>
          </div>

          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              placeholder="Password"
              required
              minlength="6"
              maxlength="40"
              #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
            />
            <div
              *ngIf="f.submitted && password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="password.errors['required']">
                Password is required
              </div>
              <div *ngIf="password.errors['minlength']">
                Password must be at least 6 characters
              </div>
              <div *ngIf="password.errors['maxlength']">
                Username must not exceed 40 characters
              </div>
            </div>
          </div>

          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              placeholder="Confirm Password"
              [(ngModel)]="form.confirmPassword"
              required
              #confirmPassword="ngModel"
              [ngClass]="{
                'is-invalid': f.submitted && confirmPassword.errors
              }"
            />
            <div
              *ngIf="f.submitted && confirmPassword.errors"
              class="invalid-feedback"
            >
              <div *ngIf="confirmPassword.errors['required']">
                Confirm Password is required
              </div>
              <div *ngIf="confirmPassword.errors['matching']">
                Confirm Password does not match
              </div>
            </div>
          </div>

          <div class="button">
            <button
              class="btn btn-outline-primary bt"
              type="button"
              (click)="back()"
            >
              Back
            </button>

            <button
              class="btn btn-outline-primary bt"
              type="button"
              (click)="onReset(f)"
            >
              Reset
            </button>

            <button
              class="btn btn-outline-primary bt"
              type="submit"
              (click)="forms(f)"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
