<div class="container-fluid bg-light">
  <div class="container bg-light" style="margin-left: -30px">
    <div class="row mt-4" style="height: 570px">
      <div class="col"></div>
      <div
        class="col-md-10 bg-white fm shadow needs-validation"
        style="border-radius: 10px"
        novalidate
      >
        <div class="card bg-warning">
          <h4 class="text-black pt-2" style="text-align: center">
            Payment Optiones
          </h4>
        </div>
        <div class="row">
          <div class="row">
          <div class="col-md-6 y ">
            <div
              class="row mb-2 d-flex justify-content-between align-items-center p"
            >
              <div class="col-md-6 col-lg-2 col-xl-2">
                <img
                  src="../assets/3.jpg"
                  class="img-fluid rounded-3"
                  alt="Cotton T-shirt"
                />
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <h6 class="text-muted">Shirt</h6>
                <h6 class="text-black mb-0">Cotton T-shirt</h6>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <input
                  id="form1"
                  min="1"
                  name="quantity"
                  value="1"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h6 class="money">$ 44.00</h6>
              </div>
            </div>

            <hr class="my-4" />

            <div
              class="row mb-2 d-flex justify-content-between align-items-center"
            >
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="../assets/pant.avif"
                  class="img-fluid rounded-3"
                  alt="Cotton T-shirt"
                />
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <h6 class="text-muted">Shirt</h6>
                <h6 class="text-black mb-0">Cotton T-shirt</h6>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <input
                  id="form1"
                  min="1"
                  name="quantity"
                  value="1"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h6 class="money">$ 44.00</h6>
              </div>
            </div>

            <hr class="my-4" />
            <div
              class="row mb-2 d-flex justify-content-between align-items-center"
            >
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="../assets/shirt.jpg"
                  class="img-fluid rounded-3"
                  alt="Cotton T-shirt"
                />
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <h6 class="text-muted">Shirt</h6>
                <h6 class="text-black mb-0">Cotton T-shirt</h6>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <input
                  id="form1"
                  min="1"
                  name="quantity"
                  value="1"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h6 class="money">$ 44.00</h6>
              </div>
              </div>
              <hr class="my-4" />
              <div
                class="row mb-4 d-flex justify-content-between align-items-center"
              >
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img5.webp"
                    class="img-fluid rounded-3"
                    alt="Cotton T-shirt"
                  />
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <h6 class="text-muted">Shirt</h6>
                  <h6 class="text-black mb-0">Cotton T-shirt</h6>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-2 d-flex">
                  <input
                    id="form1"
                    min="1"
                    name="quantity"
                    value="1"
                    type="number"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h6 class="money">$ 44.00</h6>
                </div>
              </div>
              <hr class="my-4" />

              <div
                class="row mb-4 d-flex justify-content-between align-items-center"
              >
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img5.webp"
                    class="img-fluid rounded-3"
                    alt="Cotton T-shirt"
                  />
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <h6 class="text-muted">Shirt</h6>
                  <h6 class="text-black mb-0">Cotton T-shirt</h6>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-2 d-flex">
                  <input
                    id="form1"
                    min="1"
                    name="quantity"
                    value="1"
                    type="number"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h6 class="money">$ 44.00</h6>
                </div>
              </div>
              <hr class="my-4 "/>

              <div
                class="row mb-4 d-flex justify-content-between align-items-center"
              >
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img5.webp"
                    class="img-fluid rounded-3"
                    alt="Cotton T-shirt"
                  />
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <h6 class="text-muted">Shirt</h6>
                  <h6 class="text-black mb-0">Cotton T-shirt</h6>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-2 d-flex">
                  <input
                    id="form1"
                    min="1"
                    name="quantity"
                    value="1"
                    type="number"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h6 class="money">$ 44.00</h6>
                </div>
              </div>
              
            </div>
            <hr class="my-4 w"/>
            <div class="row ">
              <div class="col t">
                <div class="row m">Total Amount</div>
                <div class="row l">$ 264.00</div>
              </div>
            </div>
          </div>  
          <div class="col-md-6 v">
            <div class="pay" >Chose Payment Method</div>
              <div class="row">
                  <div class="col-lg-6">
                          <div class="card-header h">
                              <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                                  <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                                      <li class="nav-item"> <a data-toggle="pill" class="nav-link active "> C/D Card </a> </li>
                                      <li class="nav-item"> <a data-toggle="pill" (click)="pay()" class="nav-link ">  Paypal </a> </li>
                                      <li class="nav-item"> <a data-toggle="pill"  (click)="net()" class="nav-link ">  Net Banking </a> </li>
                                  </ul>
                              </div> 
                              <div class="tab-content">
                                  <div id="credit-card" class="tab-pane fade show active pt-3">
                                      <form role="form" onsubmit="event.preventDefault()">
                                          <div class="form-group">
                                             <label for="username">
                                                  <h6>Card Owner</h6>
                                              </label> 
                                              <input type="text" name="username" placeholder="Card Owner Name" required class="form-control "> </div>
                                          <div class="form-group"> 
                                            <label for="cardNumber">
                                                  <h6>Card number</h6>
                                              </label>
                                              <div class="input-group"> <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control " required>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-sm-8">
                                                  <div class="form-group"> <label><span class="hidden-xs">
                                                              <h6>Expiration Date</h6>
                                                          </span></label>
                                                      <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control" required> <input type="number" placeholder="YY" name="" class="form-control" required> </div>
                                                  </div>
                                              </div>
                                              <div class="col-sm-4">
                                                  <div class="form-group mb-4"> <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                          <h6>CVV </h6>
                                                      </label> <input type="text" required class="form-control"> </div>
                                              </div>
                                          </div>
                                          <div class="card-footer"> <button type="button" class="subscribe btn  btn-block shadow-sm"> Confirm Payment </button>
                                            <button type="button" class="subscribe btn btn-block shadow-sm"(click)="Backto()" > Back To Cart </button>
                                          </div>
                                          </form>
                                  </div>
                              </div>
                          </div>
                      
                  </div>
              </div>

        </div>
       
      </div>
    </div>
  </div>
</div>
</div>

