  <div class="container-fluid bg-light">
    <div class="container bg-light" style="margin-left: -30px">
      <div class="row mt-4" style="height: 570px">
        <div class="col"></div>
        <div
          class="col-md-10 bg-white fm shadow needs-validation"
          style="border-radius: 10px"
          novalidate
        >
          <div class="card bg-warning">
            <h4 class="text-black pt-2" style="text-align: center">
              Favorites 
            </h4>
          </div>

          <div class="col-lg-6" style="margin-left: 100px">
            <div class="height">
            <div
              class="row  d-flex justify-content-between align-items-center"

            >
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img5.webp"
                  class="img-fluid rounded-3"
                  alt="Cotton T-shirt"
                />
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <h6 class="text-muted">Shirt</h6>
                <h6 class="text-black mb-0">Cotton T-shirt</h6>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                <input
                  id="form1"
                  min="0"
                  name="quantity"
                  value="1"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h6 class="mb-0">$ 44.00</h6>
              </div>

              <div class="col bt">
                <button class="btn" type="button" >
                  Add To Cart
                  </button>
        
                  <button class="btn" type="button" >
                    Buy Now
                  </button>
            </div>

            </div>

            <hr class="my-4" />

            <div
              class="row mb-2 d-flex justify-content-between align-items-center"
            >
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img6.webp"
                  class="img-fluid rounded-3"
                  alt="Cotton T-shirt"
                />
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <h6 class="text-muted">Shirt</h6>
                <h6 class="text-black mb-0">Cotton T-shirt</h6>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">


                <input
                  id="form1"
                  min="0"
                  name="quantity"
                  value="1"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h6 class="mb-0">$ 44.00</h6>
              </div>

              <div class="col">
                <button class="btn" type="button" >
                  Add To Cart
                  </button>
        
                  <button class="btn" type="button" >
                    Buy Now
                  </button>
            </div>

            </div>

            <hr class="my-4" />

            <div
              class="row mb-2 d-flex justify-content-between align-items-center"
            >
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img7.webp"
                  class="img-fluid rounded-3"
                  alt="Cotton T-shirt"
                />
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <h6 class="text-muted">Shirt</h6>
                <h6 class="text-black mb-0">Cotton T-shirt</h6>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                <input
                  id="form1"
                  min="0"
                  name="quantity"
                  value="1"
                  type="number"
                  class="form-control form-control-sm"
                />

              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h6 class="mb-0">$ 44.00</h6>
              </div>

              <div class="col">
                <button class="btn" type="button" >
                  Add To Cart
                  </button>
        
                  <button class="btn" type="button" >
                    Buy Now
                  </button>
            </div>

            </div>

            <hr class="my-4" />

            <div
              class="row mb-2 d-flex justify-content-between align-items-center"
            >
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img7.webp"
                  class="img-fluid rounded-3"
                  alt="Cotton T-shirt"
                />
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <h6 class="text-muted">Shirt</h6>
                <h6 class="text-black mb-0">Cotton T-shirt</h6>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                <input
                  id="form1"
                  min="0"
                  name="quantity"
                  value="1"
                  type="number"
                  class="form-control form-control-sm"
                />

              </div>
              <div class="col-md-3  col-xl-2 offset-lg-1">
                <h6 class="mb-0">$ 44.00</h6>
              </div>

              <div class="col">
                <button class="btn" type="button" >
                  Add To Cart
                  </button>
        
                  <button class="btn" type="button" >
                    Buy Now
                  </button>
            </div>

            </div>
           </div>
            <div class="pt-2">
              <h6 class="mb-3">
                <a  class="text-body" (click)="back()" 
                  ><i class="fas fa-long-arrow-alt-left me-2"></i>Back to
                  shop</a
                >
              </h6>
            </div>
        </div>
      </div>
    </div>
  </div>
